<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.login.label }} {{ form.login(placeholder='email or username') }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.submit() }}
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endwith %}
</body>
</html>