<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}DSA Tracker{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar">
    <a href="{{ url_for('main.dashboard') }}" class="navbar-logo">
        {% if current_user.is_authenticated %}
          {{ current_user.username }}
        {% else %}
         Hello, user 
        {% endif %}
        <span style="color: var(--muted); font-size: 0.7rem;">// DSA Tracker</span>
    </a>
    <div class="navbar-links">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.dashboard') }}" class="nav-link">Dashboard</a>
        <a href="{{ url_for('main.add_problem') }}" class="nav-link">Add Problem</a>
        <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
        <a href="{{ url_for('auth.register') }}" class="nav-link">Register</a>
      {% endif %}
    </div>
  </nav>

  <!-- Main -->
  <main class="main">

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

</body>
</html>